[Unit]
Description=BEAM Subnet 105 Validator
After=network.target

[Service]
Type=simple
User=itlumberjack
WorkingDirectory=/home/itlumberjack/beam/neurons/validator
Environment=PYTHONPATH=/home/itlumberjack/beam/neurons/validator
Environment=PATH=/home/itlumberjack/beam-venv/bin
ExecStart=/home/itlumberjack/beam-venv/bin/python core/validator.py \
    --wallet.name taoLumberjackBeamVal \
    --wallet.hotkey va1 \
    --netuid 105 \
    --subtensor.network finney \
    --logging.debug
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
